/* auth.css */

#authModal {
	display: none;
}

.modal-content {
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#authForm {
	display: flex;
	flex-direction: column;
}

#authForm label {
	margin-top: 10px;
}

#authForm input {
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
}

#authSubmitButton {
	background-color: #0d6efd;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s;
}

#authSubmitButton:hover {
	background-color: #0056b3;
}

#toggleAuth {
	color: #0d6efd;
	cursor: pointer;
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
	transition: color 0.3s;
}

#toggleAuth:hover {
	color: #0056b3;
}

.login-button {
	background-color: white;
	color: #0d6efd;
	border: none;
	padding: 8px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
  }
  
  .login-button:hover {
	background-color: #0d6efd;
	color: white;
  }

  /* Стили для модального окна уведомлений */
.notification-info {
  border-left: 5px solid #0d6efd;
}

.notification-success {
  border-left: 5px solid #28a745;
}

.notification-error {
  border-left: 5px solid #dc3545;
}

#notificationModal .modal-header {
  border-bottom: none;
}

#notificationModal .modal-footer {
  border-top: none;
}